{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Complaint Register  </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta  charset="utf-8" />
    <meta name="keywords" content="  complaint Register Form Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
      />
    <script>
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="{% static 'css/style5.css' %}" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700" rel="stylesheet">
  </head>
  <body>
    <h1 class="header-w3ls">
      Complaint Registration
    </h1>
    <div class="online-w3l-form">
      <div class="main-headder">
        <div class="address-agile">
          <!--<div class="using-address">
            <p class="form-details">Date</p>
            <span class="details-list">: 6/3/2018</span>
          </div>-->
          <!--<div class="using-address">
            <p class="form-details">Time</p>
            <span class="details-list">: 10:00 Am</span> 
          </div>-->
          <!--<div class="using-address">
            <p class="form-details">Address</p>
            <span class="details-list">: Kottayam</span>
          </div>-->
        </div>
        <!--<div class="map-grid">
          <h2> Location</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.948805392833!2d-73.99619098458929!3d40.71914347933105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1479793484055"></iframe>
        </div>-->
      </div>
      <div class="appointment-w3">

        <form action="{% url 'twelve' %}" method="post">
          {% csrf_token %}

<!--          <div class="main">-->
<!--            <div class="form-left-w3l">-->
<!--              <input type="text" class="top-up" name="c_fname" placeholder=" Full Name" required="">-->
<!--            </div>-->
<!--            <div class="form-right-w3ls ">-->
<!--              <input type="text" class="top-up" name="lname" placeholder="Last Name" required="">-->
<!--              <div class="clearfix"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="main">-->
<!--            <div class="form-left-w3l">-->
<!--              <input type="email" name="C_email" placeholder="Email" required="">-->
<!--            </div>-->
<!--            <div class="form-right-w3ls ">-->
<!--              <input class="buttom" type="text" name="c_phone" placeholder="Phone Number" required="">-->
<!--              <div class="clearfix"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-left-w3l">&ndash;&gt;-->
<!--            <input type="text" class="top-up" name="fname" placeholder=" First Name" required="">&ndash;&gt;-->
<!--            </div>-->
          <div class="form-add-w3ls">	
            <input type="text" name="c_landmark" placeholder="Location" required="">
          </div>
          <div class="main">
            <div class="form-left-w3l">
              <input type="text" name="bin_number" placeholder="Bin Number" required="">
<!--            </div>-->
<!--             <div class="form-right-w3ls">-->
<!--              <select  name= bin class="form-control buttom">-->
<!--                <option value="">-->
<!--                  Select Bin-->
<!--                </option>-->
<!--                <option value="category2">Bin 1</option>-->
<!--                </select>-->
<!--             </div>-->
<!--          </div>-->
<!--          <div class="main">-->
<!--            <div class="form-left-w3l">	-->
<!--              <input type="text" name="c_pincode" placeholder="Pin code" required="">-->
<!--            </div>-->
<!--            <div class="form-right-w3ls">-->
<!--              <select  name=c_district class="form-control buttom">-->
<!--                <option value="">-->
<!--                  Select District-->
<!--                </option>-->
<!--                <option value="category2">Alappuzha</option>-->
<!--                <option value="category1">Ernakulam</option>-->
<!--                <option value="category3">Idukki</option>-->
<!--                <option value="category4">Kannur</option>-->
<!--                <option value="category5">Kasaragod</option>-->
<!--                <option value="category6">Kollam</option>-->
<!--                <option value="category7">Kottayam</option>-->
<!--                <option value="category8">Kozhikode</option>-->
<!--                <option value="category9">Malappuram</option>-->
<!--                <option value="category10">Palakkad</option>-->
<!--                <option value="category11">	Pathanamthitta</option>-->
<!--                <option value="category12">Thiruvananthapuram</option>-->
<!--                <option value="category13">Thrissur</option>-->
<!--                <option value="category14">Wayanad</option>-->
<!--              </select>-->
<!--              <div class="clearfix"></div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="form-control-w3l">
            <textarea name="c_complant" placeholder="Enter Complaint"></textarea>
          </div>
          <div class="btnn">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
    <div class="copy">
      <p>Complaint Register. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">Keerthana</a></p>
    </div>
  {% endblock %}
  </body>
</html>
